<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vigourmortaltest">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Vigour"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".slider3"></activity>
        <activity android:name=".slider2" />
        <activity android:name=".slider1" />
        <activity android:name=".Slider" />
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Campaign" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".DoctorUpdatePatient" />
        <activity android:name=".ContactUs" />
        <activity android:name=".BookAppoinment" />
        <activity android:name=".FindDoctor" />
        <activity android:name=".AboutUs" />
        <activity android:name=".GenerateQr" />
        <activity android:name=".PatientProfile" />
        <activity android:name=".PatientHomeScreen" />
        <activity android:name=".DoctorHomeScreen" />
        <activity android:name=".DoctorLogin" />
        <activity android:name=".DoctorRegistration" />
        <activity android:name=".PatientLogin" />
        <activity android:name=".PatientRegistration" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>